.font-3rem {
  font-size: 3rem;
}
.font-4rem {
  font-size: 4rem;
}
.font-5rem {
  font-size: 5rem;
}
.card-rows {
  // Celiae Blog, My Github 等的总体布局
  grid-template-rows: 20rem 10rem 10rem;
}
.grid-center {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  margin: 40px 0;
}
.btn-bubble1 {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(0, 0%, 0%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: #161616;
  }

  &:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
  }
}

.btn-bubble2 {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(0, 0%, 0%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: #161616;
  }

  &:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  }
}
.btn-bubble3 {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: #161616;
  }

  &:hover::before {
    transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
  }
}
.btn-bubble4 {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(-50%, 50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: #161616;
  }

  &:hover::before {
    transform: translate3d(-50%, 50%, 0) scale3d(15, 15, 15);
  }
}
